.card {
  background-color: #fefefe;
  height: 450px;
  margin: 0px 10px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #ece6e6;
  }
  .detail-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    ul li {
      color: #464e8e;
      font-size: 14px;
    }
    .mission-name {
      color: #464e8e;
      font-size: 14px;
      font-weight: 700;
    }
    .mission-ids {
      font-size: 14px;
      font-weight: 700;
    }
    app-launch-detail {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .card {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  img {
    width: 100% !important;
  }
}
