.card {
  background-color: #fefefe;
  height: 400px;
  margin: 0px 10px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    margin: 0 auto;
    background-color: #ece6e6;
    .image-class {
      width: 100%;
      height: 100%;
    }
  }
  .detail-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    ul li {
      color: rgb(0, 132, 255);
      font-size: 14px;
    }
    .mission-name {
      color: #464e8e;
      font-size: 14px;
      font-weight: 700;
    }
    .mission-ids {
      font-size: 14px;
      font-weight: 700;
    }
    app-launch-detail {
      width: 100%;
    }
  }
}
