<div class="card">
    <div class="image-container">
        <img
        [alt]="program.mission_name" 
        loading="lazy" 
        height="256"
        width="256"
        [src]="program.links.mission_patch_small">
    </div>
    <div class="detail-container">
        <div class="mission-name">{{program.mission_name}} # {{program.flight_number}}</div>
        <div class="mission-ids">Mission Ids:</div>
        <ul>
            <li *ngFor="let missionid of program.mission_id">{{missionid}}</li>
        </ul>
        <app-launch-detail [label]="'Launch Year:'" [value]="program.launch_year"></app-launch-detail>
        <app-launch-detail [label]="'Successful Launch:'" [value]="program.launch_success"></app-launch-detail>
        <app-launch-detail [label]="'Succesful Landing:'" [value]="program.launch_landing ? program.launch_landing : 'Not Available' "></app-launch-detail>
    </div>               
</div>