<div class="left-panel">
    <div class="left-panel-heading">Filters</div>
    <div class="control-sections">
        <app-loader *ngIf="isLoadingYear"></app-loader>
        <div class="left-panel-sections">
            <div class="left-panel-sections-heading">Launch Year</div>
            <div class="button-container">
                <div class="button-panel" *ngFor="let year of years">
                    <button (click)="yearFilter(year)" [ngClass]="yearPressed === year ? 'pressed': ''"
                    class="launch-button btn-class">{{year}}</button>
                </div>
            </div>
        </div>
        <div class="launch-land-buttons-section">
            <app-launch-landing-controls
            [title]="'Successful Launch'"
            [filterFlag]="launchPressed"
            (filterEvt)="launchFilter($event)"
            ></app-launch-landing-controls>
            <app-launch-landing-controls
            [title]="'Successful Landing'"
            [filterFlag]="landingPressed"
            (filterEvt)="landingFilter($event)"
            ></app-launch-landing-controls>
        </div>
        
    </div>
</div>