.left-panel {
  flex: 0 1 200px;
  background-color: #fefefe;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .left-panel-heading {
    font-size: 14px;
    padding: 5px;
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .control-sections {
    width: 160px;
    .left-panel-sections {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .left-panel-sections-heading {
        border-bottom: 1px solid #4b4e4e;
        font-size: 14px;
      }
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .button-panel {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0px;
          .btn-class {
            color: black;
            background-color: #c5e09b;
            border-radius: 5px;
            box-shadow: none;
            border: none;
            padding: 5px 10px;
            &:hover {
              cursor: pointer;
              background-color: #79ac28;
            }
          }
        }

        .pressed {
          background-color: #79ac28 !important;
          border-color: #79ac28 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .left-panel {
    width: 80vw;
    margin: 0px 0px 5px 0px !important;
  }
  // .control-sections {
  //   width: 100% !important;
  //   .button-panel {
  //     width: 15% !important;
  //   }
  // }

  // .launch-land-buttons-section {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   .left-panel-sections {
  //     width: 50% !important;
  //     .button-container {
  //       justify-content: space-around !important;
  //     }
  //   }
  // }
}
