<div class="left-panel-sections">
    <div class="left-panel-sections-heading">{{titleValue}}</div>
    <div class="button-container">
        <div class="button-panel">
            <button (click)="applyFilter(true)" [ngClass]="filter === true ? 'pressed': ''"
            class="btn-class">True</button>
        </div>
        <div class="button-panel">
            <button (click)="applyFilter(false)" [ngClass]="filter === false ? 'pressed': ''"
            class="btn-class">False</button>
        </div>
    </div>
</div>