<header>Space X Launch Programs</header>
<div class="main-container">
    <div class="left-panel">
        <div class="left-panel-heading">Filters</div>
        <div class="control-sections">
            <app-loader *ngIf="isLoadingYear"></app-loader>
            <div class="left-panel-sections">
                <div class="left-panel-sections-heading">Launch Year</div>
                <div class="button-container">
                    <div class="button-panel" *ngFor="let year of launchYears">
                        <button (click)="yearFilter(year)" [ngClass]="yearPressed === year ? 'pressed': ''"
                        class="launch-button btn-class">{{year}}</button>
                    </div>
                </div>
            </div>
            <div class="left-panel-sections">
                <div class="left-panel-sections-heading">Successful Launch</div>
                <div class="button-container">
                    <div class="button-panel">
                        <button (click)="launchFilter(true)" [ngClass]="launchPressed === true ? 'pressed': ''"
                        class="btn-class">True</button>
                    </div>
                        <div class="button-panel">
                        <button (click)="launchFilter(false)" [ngClass]="launchPressed === false ? 'pressed': ''"
                        class="btn-class">False</button>
                    </div>
                </div>
            </div>
            <div class="left-panel-sections">
                <div class="left-panel-sections-heading">Successful Landing</div>
                <div class="button-container">
                    <div class="button-panel">
                        <button (click)="landingFilter(true)" [ngClass]="landingPressed === true ? 'pressed': ''"
                        class="btn-class">True</button>
                    </div>
                    <div class="button-panel">
                        <button (click)="landingFilter(false)" [ngClass]="landingPressed === false ? 'pressed': ''"
                        class="btn-class">False</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <app-loader *ngIf="isLoadingData"></app-loader>
        <div class="card" *ngFor="let program of programs">
            <div class="image-container">
                <img class="image-class" loading="lazy" [src]="program.links.mission_patch_small">
            </div>
            <div class="detail-container">
                <div class="mission-name">{{program.mission_name}} # {{program.flight_number}}</div>
                <div class="mission-ids">Mission Ids:</div>
                <ul>
                    <li *ngFor="let missionid of program.mission_id">{{missionid}}</li>
                </ul>
                <div class="launch-detail-container">
                    <div class="label">Launch Year:</div>
                    <div class="value">{{program.launch_year}}</div>              
                </div>
                <div class="launch-detail-container">
                    <div class="label">Successful Launch:</div>
                    <div class="value">{{program.launch_success}}</div>              
                </div>
                <div class="launch-detail-container">
                    <div class="label">Succesful Landing:</div>
                    <div class="value">{{program.launch_landing}}</div>              
                </div>
                
            </div>               
        </div>
    </div>
</div>
<footer>Developed by: Paras</footer>

