.main-container {
  position: relative;
  display: flex;
  top: 35px;
  bottom: 35px;
  width: 100%;
  height: auto;
  height: calc(100vh - 70px);
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  align-items: flex-start;
  flex-wrap: wrap;
  .right-panel {
    flex: 3 3;
    height: 100%;
    margin: 0px 10px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    app-card {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 700px) {
  .main-container {
    height: unset !important;
    top: unset !important;
    bottom: unset !important;
    flex-direction: column;
    align-items: center;
    .right-panel {
      width: 80vw;
      margin: 5px 0px;
    }
    .right-panel {
      margin-bottom: 0px !important;
    }
  }
}
