header {
  top: 0px;
}

footer {
  bottom: 0px;
}

header,
footer {
  height: 35px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.main-container {
  position: relative;
  display: flex;
  top: 35px;
  bottom: 35px;
  width: 100%;
  height: auto;
  height: calc(100vh - 70px);
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  align-items: flex-start;
  flex-wrap: wrap;
  .left-panel {
    flex: 0 1 200px;
    background-color: #fefefe;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .left-panel-heading {
      font-size: 14px;
      padding: 5px;
      width: 100%;
      font-weight: 700;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .left-panel-sections {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .left-panel-sections-heading {
        border-bottom: 1px solid #4b4e4e;
        font-size: 14px;
      }
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .btn-class {
          color: black;
          background-color: #a8e994;
          border-radius: 5px;
          box-shadow: none;
          border-color: #a8e994;
          padding: 5px 10px;
          margin: 10px auto;
          &:hover {
            cursor: pointer;
          }
        }
        .pressed {
          background-color: #86eb12 !important;
          border-color: #86eb12 !important;
        }
      }
    }
  }

  .right-panel {
    flex: 3 3;
    height: 100%;
    margin: 0px 10px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    .card {
      background-color: #fefefe;
      height: 350px;
      width: calc(25% - 20px);
      margin: 0px 10px 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        background-color: #ece6e6;
        .image-class {
          width: 100%;
          height: 100%;
        }
      }
      .detail-container {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        ul li {
          color: rgb(0, 132, 255);
          font-size: 14px;
        }
        .mission-name {
          color: rgba(10, 99, 182, 0.774);
          font-size: 14px;
          font-weight: 700;
        }
        .mission-ids {
          font-size: 14px;
          font-weight: 700;
        }
        .launch-detail-container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          .label {
            font-size: 14px;
            font-weight: 700;
            margin: 0px 5px 0px 0px;
            width: 50%;
            text-align: left;
          }
          .value {
            color: rgb(0, 132, 255);
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    .left-panel,
    .right-panel {
      width: 70%;
      margin: 5px 0px;
    }
    .left-panel {
      margin-top: 0px !important;
    }
    .right-panel {
      margin-bottom: 0px !important;
      .card {
        width: 100%;
        margin: 10px 0px;
      }
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .card {
    width: calc(50% - 20px) !important;
  }

  .card:first-child,
  .card:nth-child(2) {
    margin: 0px 10px 20px;
  }
}
