<app-header></app-header>
<div class="main-container">
    <app-controls 
    [launchYears]="launchYears"
    [year] = "yearPressed"
    [launch] = "launchPressed"
    [landing] = "landingPressed"
    (yearPressedEvt) = "yearFilter($event)"
    (landingPressedEvt) = "landingFilter($event)"
    (launchPressedEvt) = "launchFilter($event)"
    ></app-controls>
    <div class="right-panel">
        <app-loader *ngIf="isLoadingData"></app-loader>
        <app-card [smallScreen]="smallScreen" [programs]="programs"></app-card>
    </div>
</div>
<app-footer></app-footer>

