.launch-detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .label {
    font-size: 14px;
    font-weight: 700;
    margin: 0px 10px 0px 0px;
    text-align: left;
  }
  .value {
    color: #4648ee;
    font-size: 14px;
  }
}
